<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,330},{170,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,112}}</string>
                <key>sourceSize</key>
                <string>{170,112}</string>
            </dict>
            <key>frame_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,330},{163,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,112}}</string>
                <key>sourceSize</key>
                <string>{163,112}</string>
            </dict>
            <key>frame_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,216},{190,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,112}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>frame_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,109}}</string>
                <key>sourceSize</key>
                <string>{259,109}</string>
            </dict>
            <key>frame_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,107},{222,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,107}}</string>
                <key>sourceSize</key>
                <string>{222,107}</string>
            </dict>
            <key>frame_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,225},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>frame_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>frame_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{232,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,103}}</string>
                <key>sourceSize</key>
                <string>{232,103}</string>
            </dict>
            <key>frame_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{203,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,110}}</string>
                <key>sourceSize</key>
                <string>{203,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08ccdb07154e2a2c97ed043226e915ce$</string>
            <key>textureFileName</key>
            <string>act1.png</string>
        </dict>
    </dict>
</plist>
