<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{176,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,125}}</string>
                <key>sourceSize</key>
                <string>{176,125}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{196,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,120}}</string>
                <key>sourceSize</key>
                <string>{196,120}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,333},{172,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,95}}</string>
                <key>sourceSize</key>
                <string>{172,95}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{192,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,102}}</string>
                <key>sourceSize</key>
                <string>{192,102}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,103}}</string>
                <key>sourceSize</key>
                <string>{209,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e242d2c3cd34b2de66e6b7cbce01d08$</string>
            <key>textureFileName</key>
            <string>act4.png</string>
        </dict>
    </dict>
</plist>
